<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div>
<a [routerLink]="['/home']"><button class="push_button blue" id="backBtn">Back to Home</button></a>
<div>
    <p>Left</p>
    <input id="left" name="left" type="number">
    <p>Right</p>
    <input id="right" name="right" type="number">
    <p>Beat Length</p>
    <input id="beatLength" name="beatLength" type="number">
    <button type="submit" (click)="polyrythmGenerate()">Submit</button>
    
</div>    
<div id="polyPlayback"></div>